/* basics */
body {
    font-family: Karla;
    color: ghostwhite;
    font-size: 25px;
}

.background {
    background-color: #252525;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.right {
    background-color: #4FD84C;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrong {
    background-color: #D84C4C;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    font-size: 95px;
    font-weight: bolder;
    margin: auto;
}

.right-title {
    font-size: 85px;
    font-weight: bolder;
    text-align: left;
    display: flex;
    margin: auto;
    margin-left: 75px;
    margin-right: 75px;
    padding: 225px 0;
}

.caption {
    font-size: 45px;
    font-weight: bold;
    margin: auto;
}

#center-index {
    text-align: center;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 315px 0;
}

.center-right {
    text-align: center;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 225px 0;
}

.center-wrong {
    text-align: center;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 225px 0;
}

.language-title {
    font-size: 85px;
    font-weight: bolder;
    text-align: left;
    margin: auto;
    margin-left: 50px;
    padding: 250px 0;
}

.language-title a{
    color:ghostwhite;
    
}

.language-title a:hover{
    text-decoration:none;
    font-style:italic;
    color: yellow;
}

/* strikeout */
/*https://codepen.io/MananTank/pen/qBdyZXR*/
.content {
    margin-bottom: 4em;
    max-width: 150px;
    margin: auto;
    text-align: center;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
}

.content p {
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
}

.content a {
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
}

.strike p {
    background-position: center left;
    background-size: 100% 7px;
    background-image: linear-gradient(to right, white, white);
    padding-bottom: 4px;
}

.strike:hover p {
    background-position: bottom left;
    background-size: 100% 3px;
    font-style: italic;
}

.strike a {
    text-decoration: none;
    color: ghostwhite;
}

.strike:hover a {
    text-decoration: none;
    font-weight: bolder;
    color: ghostwhite;
}

/* blockout */
.block {
    margin-left: 75px;
}

.block p {
    color: transparent;
    background-position: right;
    background-size: 100% 100%;
    background-image: linear-gradient(#808080, #808080);
}

.block:hover p {
    color: #4FD84C;
    background-size: 0% 100%;
}

.block a {
    text-decoration: none;
    color: transparent;
}

.block:hover a {
    text-decoration: none;
    font-style: italic;
    color: ghostwhite;
}

/* highlight */
.highlight {
    margin-right: 75px;
}

.highlight p {
    background-position: left;
    background-size: 0% 100%;
    background-image: linear-gradient(#ff0, #ff0);
}

.highlight:hover p {
    background-size: 100% 100%;
}

.highlight a {
    text-decoration: none;
    font-size: 23.5px;
    color: ghostwhite;
}

.highlight:hover a {
    text-decoration: none;
    font-style: italic;
    color: #252525;
}

/* navigation */
.navigation {
    display: grid;
    grid-template-columns: 510px 510px;
    width: 1020px;
    margin: auto;
    padding: 10px;
}

.finish {
    display: grid;
    width: 1020px;
    margin: auto;
    padding: 10px;
}

/* timer bar */
.line-box {
    width: window.innerHeight;
    height: 10px;
    background: gray
}

.line-box .progress {
    height: 10px;
    background-color: red;
    animation: timer 3s forwards cubic-bezier(0, 0, 0, 0);
}

@keyframes timer {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* questions format */
.questions {
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: ghostwhite;
    margin-top: 85px;
}

.small-question {
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: ghostwhite;
}

.choice {
    display: grid;
    grid-template-columns: 510px 510px;
    grid-template-rows: 75px 75px;
    width: 1020px;
    margin: auto;
    padding: 10px;
}

.word-choice {
    height: 50px;
    width: 500px;
    padding-top: 10px;
    border-radius: 2px;
    text-align: center;
    align-content: center;
    align-items: center;
    background: ghostwhite;
    color: #252525;
}

#small-word {
    font-size: 17px;
}

/* scrolling text */
.hidden{
    visibility:hidden;
}

.scroll {
    color: ghostwhite;
    font-size: 50px;
    font-weight: bold;
    opacity: .6;
}

marquee.scroll1 {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.25em;
}

marquee.scroll2 {
    position: absolute;
    bottom: 0vh;
    left: 0;
    line-height: 1.25em;
}

marquee.scroll3 {
    position: absolute;
    top: 7vh;
    left: 0;
    line-height: 1.25em;
}

marquee.scroll4 {
    position: absolute;
    bottom: 7vh;
    left: 0;
    line-height: 1.25em;
}

marquee.scroll5 {
    position: absolute;
    top: 14vh;
    left: 0;
    line-height: 1.25em;
}

marquee.scroll6 {
    position: absolute;
    bottom: 14vh;
    left: 0;
    line-height: 1.25em;
}

/* circle text */

.circle1 {
    position: absolute;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 45vw;
    margin-top:-300px;
}

.circle2 {
    position: absolute;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 49vw;
    margin-top:-170px
}

.circle3{
    position: absolute;
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0vw;
    margin-top:150px;
}

.circle4{
    position: absolute;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5vw;
    margin-top:250px;
}

.circle5{
    position: absolute;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 45vw;
    margin-top:700px
}

.circle6{
    position: absolute;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 3vw;
    margin-top:1100px
}

.circle7{
    position: absolute;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50vw;
    margin-top:1600px
}

.text {
    width: 100%;
    height: 100%;
    position: absolute;
    text-transform: uppercase;
    animation: rotateText 15s linear infinite;
}

@keyframes rotateText {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text span {
    position: absolute;
    left: 50%;
    transform-origin: 0 400px;
    font-size: 1.25em;
}

.text2 {
    width: 100%;
    height: 100%;
    position: absolute;
    text-transform: uppercase;
    animation: rotateText2 15s linear infinite;
}

@keyframes rotateText2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text2 span {
    position: absolute;
    left: 50%;
    transform-origin: 0 300px;
    font-size: 1.25em;
}

.text3 {
    width: 100%;
    height: 100%;
    position: absolute;
    text-transform: uppercase;
    animation: rotateText3 15s linear infinite;
}

@keyframes rotateText3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text3 span {
    position: absolute;
    left: 50%;
    transform-origin: 0 350px;
    font-size: 1.25em;
}

.text4 {
    width: 100%;
    height: 100%;
    position: absolute;
    text-transform: uppercase;
    animation: rotateText4 15s linear infinite;
}

@keyframes rotateText4 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text4 span {
    position: absolute;
    left: 50%;
    transform-origin: 0 200px;
    font-size: 1.25em;
}

.text5 {
    width: 100%;
    height: 100%;
    position: absolute;
    text-transform: uppercase;
    animation: rotateText5 15s linear infinite;
}

@keyframes rotateText5 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text5 span {
    position: absolute;
    left: 50%;
    transform-origin: 0 400px;
    font-size: 1.25em;
}

.text6 {
    width: 100%;
    height: 100%;
    position: absolute;
    text-transform: uppercase;
    animation: rotateText6 15s linear infinite;
}

@keyframes rotateText6 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text6 span {
    position: absolute;
    left: 50%;
    transform-origin: 0 300px;
    font-size: 1.25em;
}

.text7 {
    width: 100%;
    height: 100%;
    position: absolute;
    text-transform: uppercase;
    animation: rotateText7 15s linear infinite;
}

@keyframes rotateText7 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text7 span {
    position: absolute;
    left: 50%;
    transform-origin: 0 300px;
    font-size: 1.25em;
}

.next{
    margin-top:2100px;
    position:absolute;
    left:5vw;
}