body {
    background-color: lime;
}

img {
    width: 200px;
    height: 200px;
/*    transition: width 2s, height 2s;*/
}

.announcement {
    display: none;
/*    margin-top: 40px;*/
    font-size: 20px;
    padding: 6px;
}

.bigger {
    height: 400px;
    width: 400px;
    border-radius: 0%;
    transition: width 2s, height 2s;
}

/*

#flowerpot{
    padding-bottom:50px;
}
*/
